/* #### Defaults #### */
.nav,
.header,
.footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* #### Navbar #### */

nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #eee;
  overflow: hidden;
}

ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right {
  float: right;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}
ul.topnav li a:hover {
  background-color: blue;
  color: white;
}
ul.topnav li.dropdownIcon {
  display: none;
}

/* Media query */
@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }
  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }

  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li {
    display: inline;
    float: none;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  .col-6,
  .col-4 {
    width: 100%;
    text-align: left;
    margin: 0;
  }
  .box {
    padding: 5px;
    display: block;
  }
  .div.leftside-col,
  .div.rightSide-col {
    margin: 15px;
  }
  input[type="text"] {
    width: 300px;
    margin-bottom: 20px;
  }
  .videoContainer iframe {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
}

/* section 1 */
.container {
  width: 100%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* gradient section */

#section-1-gradient {
  background: #4eb9cc;
  background: -webkit-linear-gradient(top left, #4eb9cc, #6043f0);
  background: -moz-linear-gradient(top left, #4eb9cc, #6043f0);
  background: linear-gradient(to bottom right, #4eb9cc, #6043f0);
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row::after {
  clear: both;
  display: table;
  content: "";
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

h1.large {
  color: white;
  font-size: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  line-height: 70px;
}
.inputBox[type="text"] {
  font-size: 20px;
  width: 400px;
  min-width: 100px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

form h2 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.leftside-col {
  margin-left: 30%;
}

.rightSide-col {
  margin-left: 15%;
}

h1.section2Header {
  color: black;
  font-size: 56px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  line-height: 70px;
  text-align: center;
}

.box {
  padding: 36px 24px 40px 24px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.15), 0 2px 3px 0 rgb(0, 0, 0, 0.1);
  margin: 24px;
  border-radius: 7px;
}

label {
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}
p {
  font-size: 20px;
}
.learnMore {
  font-size: 22px;
  font-weight: 700;
  color: white;
  background-color: blue;
  padding: 15 px 16px;
  display: block;
  text-align: center;
  margin: 5px;
  border-radius: 7px;
}
