h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 23px;
}
button {
  font-family: monospace;
  background-color: teal;
  color: white;
}

body {
  background-color: wheat;
}

h4 {
  color: red;
  text-align: center;
}
.square {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  margin: auto;
}

#circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: teal;
  text-align: center;
}
